@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background: #FBF8EC;
}


.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;
}


header {
    padding: 26px;
}

nav>h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 23px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.4px;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
width: 70%;
}


a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    color: #000000;


}



.btn1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    text-align: center;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding: 4px 10px;
    border: none;
}

.btn2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    text-align: center;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding: 4px 10px;
    background: #FFC000;
    border: none;
}


p{
    font-family: Montserrat;
font-weight: 600;
font-size: 14px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0.75px;
text-transform: uppercase;
font-variant-numeric-figure: lining-nums;
font-variant-numeric-spacing: proportional-nums;
padding-top: 8px;
padding-bottom: 8px;
}


.katta{
    width: 60%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 auto;
}