@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body {
    background: #FBF8EC;
}


.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
}


header {
    padding: 26px;
}

nav>h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0.4px;
    vertical-align: middle;


}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
width: 70%;
}


a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.1px;
    text-align: center;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    color: #000000;


}



.btn1 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    text-align: center;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding: 4px 10px;
    border: none;
}

.btn2 {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    text-align: center;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding: 4px 10px;
    background: #FFC000;
    border: none;
}


.bg {
    background-image: url("./Group\ 223.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}



h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.25px;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    width: 588px;
    padding-top: 233px;
    color: #FFFFFF;
    padding-bottom: 16px;
}


.left>p {
    color: #FFFFFF;
    width: 588px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.1px;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}


.left {
    padding-left: 147px;
}




h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-align: center;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding-top: 80px;
    padding-bottom: 32px;
}


.big {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small {
    background: #FFFFFF;
    width: 294px;
    height: 144px;


}


.small>span {
    margin-left: 100px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    vertical-align: middle;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}


.small>img {
    padding-left: 127px;
}


.kicik {
    width: 264px;
    height: 522px;
    angle: 0 deg;
    opacity: 1;
    top: 1340px;
    left: 147px;
    border-radius: 12px;
    background: #FFFFFF;
}


.kicik>h6 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding-left: 13px;

}



.kicik>p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.4px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding-left: 13px;
}


.kicik>button {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    padding: 10px 14px;
    background: #FFC000;
    border: none;
    margin-left: 13px;
}



.katta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.kattta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.fff {
    background: #0C0926;
    width: 1521px;
    height: 400px;
    margin-top: 200px;
    position: relative;
}



.ggg>img {
    position: absolute;
    bottom: 50px;
}


h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.25px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    color: #FFFFFF;

}




.jjj>p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    color: #FFFFFF;
    padding-left: 800px;
}




.ddd {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 900px;
    width: 90%;
    padding-top: 90px;
}



h4 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.25px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    width: 556px;
}


.chat>p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.44px;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    width: 558px;
}


.chat>button {
    background: #FFC000;
    padding: 8px 23px;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}



.ww {
    background: #FFFFFF;
    width: 1520px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;

}



.section>h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 34px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-align: center;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;

}

.section>span {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 80px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0.25px;
    text-align: center;
    font-variant-numeric-figure: lining-nums;
    font-variant-numeric-spacing: proportional-nums;
    text-align: center;
    color: #0D0D0D;
}


.section {
    background: #FFC000;
    padding: 173px 350px;
}